@import "./css-variable.css";

.headerElem {
  border-bottom: 1.5px solid #f4efe9;
  margin-bottom: 50px;
}

.bi-suit-heart {
  color: black;
  margin-top: 20px;
}

.wishlist {
  margin: 20px 15px;
  font-size: 25px;
}

.avatar-style {
  border-radius: 100%;
  max-height: 40px;
  margin: 20px 10px;
}

.btn-submit {
  /* background: var(--secondary-color); */
  font-weight: 400;
  /* padding: 0.55rem 0.75rem; */
  color: black;
  margin: 10px;
  cursor: pointer;
  border: black solid 1px;
  border-radius: 0;
  height: 50px;
}

.btn-submit:hover {
  background: var(--secondary-color);
  font-weight: 400;
  /* padding: 0.55rem 0.75rem; */
  color: white !important;
  margin: 10px;
  cursor: pointer;
  height: 50px;
}

.header-logo:hover {
  cursor: pointer;
}

.btn-outline {
  border-color: var(--line-color);
  font-weight: 400;
  /* padding: 0.55rem 0.75rem; */
  color: var(--text-color);
  margin: 10px;
}

.btn-outline:hover {
  border-color: var(--line-color);
  font-weight: 400;
  /* padding: 0.55rem 0.75rem; */
  color: var(--text-color);
  background: var(--bg-color-light) !important;
  margin: 10px;
}

.btn-discover {
  background-color: var(--primary-color);
  color: white;
  border-radius: 0;
  height: 50px;
  margin: 10px;
  font-weight: 400;
  font-family: var(--primary-font)
}

.btn-discover:hover {
  cursor: pointer;
  background-color: var(--btn-hover-primary-color) !important;
  color: white;
}

.search-box {
  height: 50px;
  width: 195px;
  margin: 10px;
  border: black solid 1px;
  background: transparent;
  font-weight: 400;
  font-family: var(--primary-font)
}

.form-control {
  border: none;
  background: transparent;
}

.header-logo {
  margin-top: 20px;
}

/* end of nav bar */
