@import "./css-variable.css";

body {
    font-family: var(--primary-font);
    margin: 2em;
    color: #3D3D3D;
  }
  
h1 {
    font-style: italic;
    color: #FF6F00;
  }
  
video {
    display: block;
  }
  
section {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }

.removed {
    display: none;
  }
  
.disabled {
    opacity: 0.2;
  }
  
.camView {
    position: relative;
    float: left;
    width: calc(100% - 20px);
    margin: 10px;
    cursor: pointer;
  }
  
.camView p {
    position: absolute;
    padding: 5px;
    background-color: rgba(255, 111, 0, 0.85);
    color: #FFF;
    border: 1px dashed rgba(255, 255, 255, 0.7);
    z-index: 2;
    font-size: 12px;
  }
  
.highlighter {
    background: rgba(0, 255, 0, 0.25);
    border: 1px dashed #fff;
    z-index: 1;
    position: absolute;
  }

.unseen{
  visibility: hidden;
}

section#demos {
  /* OUTLINE: 2px solid; */
  padding: 5px 40px;
  height:100%
}

.pose_container{
  /* OUTLINE: 2px solid red; */
  padding: 5px;
}

.toBeRow{
  display: flex;
  justify-content: center;
}

.noplace{
  display: none
}

.classify_info{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.pose_img{
  height: 300px;
  width: 300px;
  /* outline: 1px solid black; */
  padding: 0 10px 10px 0;
}

.pose_info{
  text-transform: uppercase;
  /* font-size: 30px; */
  padding: 10px 0 0 0;
}

.pose_area{
  text-transform: uppercase;
  /* font-size: 15px; */
  padding: 10px 0;
  color: gray;
}


.steps > div,#webcamButton{
  margin-top: 10px;
}

.diy_style_btn{
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: 0;
  margin: 2px;
  padding: 8px 12px;
  text-transform: uppercase;
}
.diy_style_btn:hover{
  /* color: black; */
  background-color: var(--btn-hover-primary-color);
  border-color: var(--btn-hover-primary-color);
}

.titleFeature{
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: 3px;
  font-weight: bold;
  font-size: larger;
}

.accuracy_Section{
  text-align: end;
}

.toBookmark:hover{
  color: var(--primary-color);
  background-color: white;
  /* border-color: white; */
}

.toBookmark_whenClicked, .toBookmark:focus{
  /* color: #fff; */
  color: var(--primary-color);
  background-color: white;
  border-color: var(--primary-color);
  box-shadow:none;
}

#timer_seconds{
  font-family: var(--primary-font);
  font-size: 1.8rem !important;
  color: var(--secondary-color-dark) !important;
}

#model_response{
  font-family: var(--primary-font);
  font-size: 1.8rem !important;
  color: var(--secondary-color-dark) !important;
}