@import "./css-variable.css";

.userInfo {
  margin-top: 30px;
  display: flex;
}

.userText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 60px;
  font-family: var(--primary-font);
  text-transform: capitalize;
}

.user-headerElem {
  border-bottom: 1.5px solid #f4efe9;
  padding-bottom: 15px;
}

.userIcon {
  max-width: 180px;
  border: 1px;
  border-radius: 100%;
  margin-bottom: 30px;
}

.campaigns-title {
  font-family: var(--primary-font);
  font-size: 30px;
  margin: 20px 0;
  color: var(--text-color);
  text-transform: capitalize;
}

.my-img {
  width: 250px;
  height: 250px;
}

.product-card {
  border: none;
}

.card-title {
  font-size: 20px;
  font-family: var(--primary-font);
  text-transform: capitalize;
}

.score-text {
  font-family: var(--primary-font);
  color: var(--primary-color);
}

.card-text {
  margin: 8px 0;
  text-transform: capitalize;
  color: var(--secondary-color-dark);
}

.bi-gear {
  font-size: 28px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  padding-right: 25px !important;
}

.bi-gear:hover {
 color: var(--secondary-color-dark);
}

body {
  margin: 30px !important
}