@import "./css-variable.css";

body {
  margin: 30px;
}

.product-card {
  border: none;
}

.card-title {
  font-size: 20px;
  font-family: var(--primary-font);
  text-transform: capitalize;
}

.price-text {
  font-family: var(--primary-font);
  color: var(--primary-color);
}

.card-text {
  margin: 8px 0;
  text-transform: capitalize;
  color: var(--secondary-color-dark);
}

.title {
  font-family: var(--primary-font);
  font-size: 25px;
  color: var(--primary-color);
  font-weight: bold;
  text-transform: capitalize;
}

.my-list {
  font-family: var(--primary-font);
  border: none;
  margin-top: 10px;
  text-transform: capitalize;
  user-select: none;
  cursor: pointer;
}

.my-img {
  width: 250px;
  height: 250px;
}

.target-title {
  margin-top: 30px;
}

.clicked {
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: 3px;
  font-weight: bold;
  font-size: larger;
}
