@import "./css-variable.css";

/* body {
  padding: 2em;
} */
.row>* {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.bg {
  margin: 0;
  padding: 0;
  background-image: url("../assets/bg-login-01.jpg");
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
}

/* .myBtn {
  height: 60px;
  width: 60%;
  background-color: var(--secondary-color) !important;
  color: white !important;
  border: 0 !important;
} */

.btn-register {
  background-color: var(--primary-color) !important;
  color: white !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  width: 50%;
  height: 51px;
  margin: 20px;
  font-family: var(--primary-font);
  border-radius: 0 !important;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
}

.btn-register:hover {
  background-color:var(--btn-hover-primary-color) !important;
  cursor: pointer;

}

.buttonContainer {
  margin: 0 0 0 0;
}
.login_page_right {
  background-image: url("../assets/login-page.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.fw-bold {
  margin: 25px;
  font-weight: 500 !important;
  text-transform: uppercase;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
.logo {
  margin-top: 70px;
  display: block;
  margin-left: 100px;
  margin-right: auto;
}
.or {
  border: solid 1px var(--dark-grey);
  border-radius: 40px;
  width: 45px;
  text-align: center;
  margin: -5px 0 15px;
}

.register-title {
  font-weight: 500;
  font-size: 34px;
  text-align: center;
  font-family: var(--primary-font);
  text-transform: uppercase !important;
  margin: 25px 0 20px;
  color: white !important;
}

.registerPage {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  overflow-y: hidden;
}

.registerRightPage {
  background-image: url("../assets/Register-page.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.input-container {
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 400;
  font-family: var(--primary-font);
}
input {
  height: 50px;
  display: block;
  border-radius: 0px !important;
}

.displayflex {
  display: flex;
  justify-content: center;
}

.imageboxgoogle {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: none;
  background: none;
  outline: none;
  margin-bottom: 30px;
  border-radius: 10px;
  max-width: 390px !important;
  max-height: 390px !important;
}
.imageboxgoogle img {
  width: 60%;
  height: auto;
}

.ac-related-btn + button {
  border: none;
  outline: none;
}
.ac-related-btn {
  display: contents;
  text-align: center;
}
.text-center {
  margin: 0 -70px !important;
}

.sign-in-link {
  text-decoration: none;
  color: black;
  font-size: medium;
  font-family: var(--primary-font);
  /* margin-right: -256px;
  margin-left: 86px; */
}

.sign-in-link:hover {
  color: var(--primary-color);
}

.forgotbutton {
  border: none;
  background: none;
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.forgotbutton:hover{
  color: var(--primary-color);
}

.container {
  margin-top: 10vh;
  color: white !important;
  opacity: 94%;
  max-width: 900px;
}

.error-msg{
  color: white;
  font-weight: 400;
  font-size: large;
  font-family: var(--primary-font);
  text-shadow: black 3px 0 25px;
}